<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
	<script>
	</script>
  </head>
  <body>
	<h1><a href='/'>首页</a><small>发表留言</small></h1>
    <h2>雁过留声，人过留名</h2>
	<p>向世界发出你的声音，让我们知道你曾经来过。</p>
	<div class='comments container'>
		<form >
			<div class='form-group'>
				<label for='exampleInputEmail'>你的大名</label>
				<input type='email' class='form-control' id='exampleInutEmail' placeholder='Email'>
				<input type='submit' name='button' value='提交' id='exampleInputEail'>
			</div>
		</form>
	</div>
  </body>
</html>
